<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>
    <table border="4">
        <tr align="center">
            <td>Post Title</td>
            <td>Publishing Date</td>
        </tr>
        {% for post in posts %}
            <tr>
                <td style="padding: 5px;">
                    <a href="/post/detail/{{post.id}}">{{post.title}}</a>
                </td>
                <td style="padding: 5px;">
                    {{post.publishingDate}}
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/post/create"><h3><b>+</b>New Create Post</h3></a>
</body>
</html>